{% extends "admin_base.html" %}
{% load widget_tweaks %}

{% block head %}
    {{form.media}}
{% endblock head %}

{% block content %}
<div class="admin-form-page">
    <h2 class="admin-form-header">Create Post</h2>
    <form method="POST" class="form">
        {% csrf_token %}
        <div class="form-field">
            <label for="id_title" class="form-label">Title*</label>
            {% render_field form.title class+="form-input" %}
            <span class="admin-form-label-limit">(max 150 chars)</span>
        </div>
        <div class="form-field">
            <label for="id_short_description" class="form-label">Short Description*</label>
            {% render_field form.short_description class+="form-input" %}
            <span class="admin-form-label-limit">(max 255 chars)</span>
        </div>
        <div class="form-field">
            <label for="id_content" class="form-label">Post Content*</label>
            {{form.content|safe}}
        </div>
        <div class="admin-form-btn">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
{% endblock content %}

